<section class="card bg-dark text-white m-2">
  {{!-- <a href="/dashboard/{{id}}">
    <div class="card-header bg-dark">
      {{ title }}
    </div>
    <div class="card-text text-dark  m-1">
        <p class="p-1"> {{ content }}</p>
    </div>
  </a> --}}
  <a href="/dashboard/{{id}}" class="btn btn-secondary btn-block">{{ title }}  {{ creation-date }}</a>
</section>